In [1]:
import csv
import pandas as pd
import numpy as np

In [37]:
gephi = pd.read_csv("./gephi.csv")
gephi

                        id
0      1000000659276664832
1      1000062434126725120
2      1000153172072116224
3      1000368986104705024
4      1000378451193401349
...                    ...
24115   999674608004497410
24116   999694543099514880
24117   999715157164015618
24118   999808905705328640
24119   999964377922134016

[24120 rows x 1 columns]

In [39]:
gephi["infomap"] = np.nan

In [49]:
gephi

                        id  infomap
0      1000000659276664832        0
1      1000062434126725120       10
2      1000153172072116224       16
3      1000368986104705024        0
4      1000378451193401349        0
...                    ...      ...
24115   999674608004497410     1726
24116   999694543099514880       20
24117   999715157164015618        4
24118   999808905705328640       13
24119   999964377922134016       47

[24120 rows x 2 columns]

In [42]:
with open("./infomap.csv", 'r') as file:
    csvreader = csv.reader(file)
    for infomapId, com in enumerate(csvreader):
        for nodeId in com:
#             gephi.loc[gephi.id == nodeId, 'infomap'] = infomapId
            gephi.loc[gephi['id'] == int(nodeId), 'infomap'] = infomapId
#             print(gephi.loc[gephi.id == com[nodeIndex]])
#             print(int(nodeId))

In [8]:
gephi.loc[gephi.id == 1221406400523440128, 'infomap'] = 9

In [43]:
gephi.loc[gephi.id == 1221406400523440128]

                       id  infomap
2636  1221406400523440128      8.0

In [48]:
gephi.infomap = gephi.infomap.astype(int)

In [50]:
gephi.to_csv('gephi-infomap.csv')